@model BasicTrivia.Models.Question

@{
    ViewBag.Title = "A Great Trivia Game";
}

<h2>A Great Trivia Game</h2>

<p>
@Html.ActionLink("Start a New Game", "NewGame")  @*Need to add a controller*@
</p>